<!DOCTYPE HTML>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>文什云MES（ios安装）</title>
    </head>
    
    <body>
        <p class="text">...</p>
        <a href=""></a>
        <p align=center> <font size="10">
            <a style="color:#69DEDA" href="itms-services://?action=download-manifest&url=https://gitee.com/oliverweb/cams/raw/master/manifest.plist">点击安装</a>
          </font>

        </p>
        <p class="text">...</p>
        <a href=""></a>
        <p align=center> <font size="10">
            <a style="color:#69DEDA" href="https://gitee.com/vsdata/yes-ios-app/raw/master/wsdataimes.mobileprovision">点击信任</a>
          </font>

        </p>
    </body>

</html>
